<div class="container" ng-repeat="article in vm.collection | filter: search">
    <div class="row">
        <div class="scoresView">
            <div class="scoreViewCounter">{{article.score}}</div>
            <div class="scoreViewCounterIncrementButton" ng-click="vm.incrementScore(article.id, article)">+</div>
            <div class="scoreViewCounterIncrementButton" ng-show="article.score >= 1"
                 ng-click="vm.decrementScore(article.id, article)">-
            </div>
        </div>
        <div class="imgView">.
            <img ng-click="vm.showWykop(article.id)" ng-src="{{article.image}}" id="wykopImage"></div>
        <div class="contentView">
            <div ng-click="vm.showWykop(article.id)" class="title">{{article.title}}</div>
            <div class="subtitle">{{article.subtitle}}</div>
            <div class="labels">
                <span class="label label-info" id="editWykop" ng-click="vm.updateData(article.id)">Edytuj</span>
                <span class="label label-danger" id="deleteWykop" ng-click="vm.removeData(article)">Usuń</span>
            </div>
            <div>
                <div class="author" ng-click="vm.userProfile();">@{{article.author}}</div>
                <div class="date">{{article.date}}</div>
            </div>
        </div>
    </div>
</div>
