<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-4 control-label">Autor</label>
        <div class="col-sm-4">
            <p class="form-control-static"ng-model="author">{{author}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label col-">Tutuł</label>
        <div class="col-sm-4">
            <input type="input" class="form-control" placeholder="Tytuł" ng-model="title">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label col-">Subtytuł</label>
        <div class="col-sm-4">
            <input type="input" class="form-control" placeholder="Subtytuł" ng-model="subtitle">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label col-">Image URL</label>
        <div class="col-sm-4">
            <input type="input" class="form-control" placeholder="Url" ng-model="url">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label col-">Treść</label>
        <div class="col-sm-4">
            <textarea class="form-control" rows="3" ng-model="content"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label col-"></label>
        <div class="col-sm-4">
            <button type="button" class="btn btn-default" ng-click="addData()">Wyślij</button>
        </div>
    </div>
</form>

