<form class="form-horizontal" name="Form" required novalidate>

    <div class="form-group" ng-if="showAlert">
        <div class="alert alert-success" id="successAlert" style="width: 50%; margin: 0 auto;">
            <strong>Twój post został wysłany!</strong>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Autor</label>
        <div class="col-sm-4">
            <p class="form-control-static" ng-model="author">{{author}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label" name="title">Tutuł</label>
        <div class="col-sm-4">
            <input type="input" class="form-control" placeholder="Tytuł" ng-model="title" name="title"
                   validator="required, minlength=6" , maxlength="70">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Subtytuł</label>
        <div class="col-sm-4">
            <input type="input" class="form-control" placeholder="Subtytuł" ng-model="subtitle" name="subtitle"
                   validator="required, minlength=6">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Image URL</label>
        <div class="col-sm-4">
            <input type="input" class="form-control" placeholder="Url" ng-model="url" name="url"
                   validator="required, url">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Treść</label>
        <div class="col-sm-4">
<textarea class="form-control" rows="3" ng-model="content" name="content"
          validator="required, minlength=20"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Data</label>
        <div class="col-sm-4">{{showDate}}</div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Treść</label>
        <div class="col-sm-4">
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
            <strong>Wykop</strong>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            <strong>Mikroblog</strong>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label"></label>
        <div class="col-sm-4">
            <button type="button" id="sendButton" class="btn btn-default" validation-submit="Form" ng-click="addData()">
                Wyślij
            </button>
            <button validation-reset="Form" class="btn btn-default">Reset</button>
        </div>
    </div>
</form>


<!--<form name="vm.Form" novalidate>-->
    <!--<div flex layout="row" class="content">-->
        <!--<md-content flex>-->
            <!--<div>-->
                <!--<md-content class="md-no-momentum">-->

                    <!--<md-input-container class="md-icon-float md-block">-->
                        <!--&lt;!&ndash; Use floating label instead of placeholder &ndash;&gt;-->
                        <!--<md-icon md-svg-src="./image/icons/person.svg"></md-icon>-->
                        <!--<label>Autor*</label>-->
                        <!--<md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>-->
                        <!--<input ng-model="author" type="text" ng-required="true" validator="required, minlength=4" , maxlength="70">-->
                    <!--</md-input-container>-->

                    <!--<md-input-container class="md-icon-float md-block">-->
                        <!--&lt;!&ndash; Use floating label instead of placeholder &ndash;&gt;-->
                        <!--<md-icon md-svg-src="./image/icons/title.svg"></md-icon>-->
                        <!--<label>Tytuł*</label>-->
                        <!--<md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>-->
                        <!--<input ng-model="title" type="text" ng-required="true" validator="required, minlength=6" , maxlength="70">-->
                    <!--</md-input-container>-->

                    <!--<md-input-container class="md-icon-float md-block">-->
                        <!--&lt;!&ndash; Use floating label instead of placeholder &ndash;&gt;-->
                        <!--<md-icon md-svg-src="./image/icons/subtitle.svg"></md-icon>-->
                        <!--<label>Subtytuł*</label>-->
                        <!--<md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>-->
                        <!--<input ng-model="subtitle" type="text" ng-required="true" validator="required, minlength=6" , maxlength="80">-->
                    <!--</md-input-container>-->

                    <!--<md-input-container class="md-icon-float md-block">-->
                        <!--&lt;!&ndash; Use floating label instead of placeholder &ndash;&gt;-->
                        <!--<md-icon md-svg-src="./image/icons/url.svg"></md-icon>-->
                        <!--<label>Url*</label>-->
                        <!--<md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>-->
                        <!--<input ng-model="url" type="text" ng-required="true"validator="required, url">-->
                    <!--</md-input-container>-->

                    <!--<md-input-container class="md-icon-float md-block">-->
                        <!--&lt;!&ndash; Use floating label instead of placeholder &ndash;&gt;-->
                        <!--<md-icon md-svg-src="./image/icons/arrea.svg"></md-icon>-->
                        <!--<label>Treść*</label>-->
                        <!--<textarea ng-model="user.biography" md-maxlength="300" rows="8" md-select-on-focus="" validator="required, minlength=20"></textarea>-->
                    <!--</md-input-container>-->

                    <!--<md-input-container class="md-icon-float md-block" flex-gt-xs="">-->
                        <!--<md-icon md-svg-src="./image/icons/date.svg"></md-icon>-->
                        <!--<label>{{showDate}}</label>-->
                        <!--<input ng-model="date" disabled="">-->
                    <!--</md-input-container>-->
                    <!--<md-radio-group ng-model="data.group1">-->
                        <!--<md-radio-button value="1" class="md-primary" id="optionsRadios1">Wykop</md-radio-button>-->
                        <!--<md-radio-button value="2" id="optionsRadios2">Mikroblog</md-radio-button>-->
                    <!--</md-radio-group>-->
                    <!--</md-input-container>-->

                    <!--<md-input-container class="md-icon-float md-block" flex-gt-xs="">-->
                        <!--<md-button  validation-submit="vm.Form" ng-click="addData()" type="button" class="md-raised md-primary">Dodaj</md-button>-->
                        <!--<md-button type="button" ng-submit="reset()" class="md-raised md-warn">Reset</md-button>-->

                <!--</md-content>-->
            <!--</div>-->
        <!--</md-content>-->
    <!--</div>-->
<!--</form>-->