<div class="panel panel-default" style="width: 50%; margin:0 auto; margin-top: 20px;"
     ng-repeat="wykopy in vm.collection | filter: search">
    <div class="panel-body" class="col-sm-8">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-1">
                        <div><h1><span class="label label-danger">{{wykopy.id}}</span></h1></div>
                        <div><span class="label label-primary">Wykop</span></div>

                    </div>
                    <div class="col-sm-3"><img ng-src="{{wykopy.image}}" class="img-rounded"
                                               style="width: 207px; height: 139px"></div>
                    <div class="col-sm-8">

                        <div>{{wykopy.title}}</div>
                        <div>{{wykopy.subtitle}}</div>
                        <br/>
                        <div>autor: {{wykopy.author}}</div>
                        <div>{{wykopy.content}}</div>
                        <div>
                            <button class="btn btn-default" ng-click="removeData(wykopy)">Usuń</button>
                            <button class="btn btn-default" ng-click="vm.ddd(wykopy.id)" >Komentarze</button>
                            <a ng-href="{{'http://localhost:8000/#!/comments/'+wykopy.id}}">hgfhfghfghfg</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
