<div class="container" id="microBlogContainer" ng-repeat="mikroblog in vm.collection | filter: search">
    <div class="row" id="microBlogRow">
        <div class="microBlogTop">
            <div class="topHeadingMicroblog">
                <div class="userNickNameMicroblog" ng-click="vm.userProfile()">@{{mikroblog.author}}</div>
                <div class="dateMicroblog"><em>{{mikroblog.date}}</em></div>
            </div>
            <div class="label label-danger" id="deleteLabelMicroblog" ng-click="vm.removeData(mikroblog)">Usuń</div>
            <div class="microBlogScore">{{mikroblog.score}}</div>
            <div id="microBlogIncrement" ng-click="vm.incrementScore(mikroblog.id, mikroblog)">+</div>
            <div id="microBlogDecrement" ng-click="vm.decrementScore(mikroblog.id, mikroblog)">-</div>
        </div>
    </div>
    <hr>
    <img src="{{mikroblog.image}}" alt="" class="microBlogPhoto">
    <div class="microBlogContent">{{mikroblog.content}}</div>
</div>
