<form class="form-horizontal" name="Form">

    <div class="form-group" ng-if="vm.successAlert">
        <div class="alert alert-success" id="successAlert" style="width: 50%; margin: 0 auto;">
            <strong>Twój post został wysłany!</strong>
        </div>
    </div>

    <div class="form-group" ng-if="vm.dangerAlert">
        <div class="alert alert-danger" id="dangerAlert" style="width: 50%; margin: 0 auto;">
            <strong>Twój post nie został wysłany!</strong>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Autor</label>
        <div class="col-sm-4">
            <p class="form-control-static" ng-model="author">{{vm.author}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Image URL</label>
        <div class="col-sm-4">
            <input type="input" class="form-control" placeholder="Url" ng-model="vm.url" name="url" id="imageUrl">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Treść</label>
        <div class="col-sm-4">
<textarea id="textArrea" class="form-control" rows="3" ng-model="vm.content" name="content"
          validator="required, minlength=20"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Data</label>
        <div class="col-sm-4" id="formDate">{{vm.showDate}}</div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label"></label>
        <div class="col-sm-4">
            <button type="button" id="sendButton" class="btn btn-success" validation-submit="Form" ng-click="vm.addNewMicroblog()">
                Wyślij
            </button>
        </div>
    </div>
</form>