<div class="container">
    <div class="row">
    </div>
    <div class="showWykopLeftSide">
        <img ng-src="{{vm.collection.image}}" alt="" style="max-width: 300px;">

        <p class="userNickName">@{{vm.collection.author}}</p>
        <p class="userNickName">{{vm.collection.date}}</p>
        <span class="label label-danger"  ng-click="vm.removeData(wykopy)">Usuń</span>
        <span class="label label-info" ng-click="removeData(wykopy)">Edytuj</span>
        <p class="userRank">{{vm.collection.rank}}</p></div>

         <div class="showWykopRightSide">
        <div class="title">{{vm.collection.title}}</div>
        <div class="subtitleWykop">{{vm.collection.subtitle}}</div>
        <hr />
        <div class="contentWykop">{{vm.collection.content}}</div>
        <div>
            <div class="author"></div>
            <div class="date"></div>
        </div>
    </div>

</div>
